{% extends 'base.html' %}

{% block content %}
<section id="about">
  <div class="w3-container w3-padding-large" style="margin-bottom:32px">
    <h3><b>Update your comment</b></h3>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="w3-section">
        <textarea class="w3-input w3-border" type="text" name="context" placeholder="Your Message" required>{{ comment_value }}</textarea>
      </div>
      <hr>

      <button class="w3-button w3-left w3-black w3-padding-large w3-margin-top w3-margin-bottom">
        <a href="{{ request.META.HTTP_REFERER }}">
          <i class="fa-solid fa-circle-left w3-margin-right"></i>Take me back
        </a>
      </button>

      <button type="submit" class="w3-button w3-right w3-cyan w3-padding-large w3-margin-top w3-margin-bottom">
        <i class="fa-solid fa-trash-can w3-margin-right"></i>Update
      </button>
    </form>
  </div>
</section>
{% endblock content %}

