{% load static %}

<!DOCTYPE html>
<html>
  <head>
    {% if not title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Anya's Website</title>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
    </style>
  </head>

  <body class="w3-light-grey w3-content" style="max-width:1600px">

    <!-- Sidebar/menu -->
    {% include 'sidebar.html' %}

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px">

      <!-- Header -->
      <header id="portfolio">
        <!-- <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a> -->
        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
        <div class="w3-container">
          <div class="w3-bottombar">
            <h1>
              <b>{% block header_topic_name %}{% endblock header_topic_name %}</b>
            </h1>
            {% block header %}
            {% endblock header %}
          </div>
        </div>
      </header>

      {% block content %}
      {% endblock content %}

      <!-- Footer -->
      {% include 'footer.html' %}

      <!-- End page content -->
    </div>

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
