{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html>
  <head>
    <title>Anya v69</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'main/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <script src="https://kit.fontawesome.com/38ce49f45c.js" crossorigin="anonymous"></script>
    <style>body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}</style>
  </head>
  <body class="w3-light-grey w3-content" style="max-width:1600px">
    {% include 'main/sidebar.html' %}

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px">
      <!-- Header -->
      <header>
        <!-- wut -->
        <div class="ct">
          <div class="ct-action">
            <div class="ct-profile w3-right" onclick="menu_toggle()">
              {% if request.user.is_authenticated %}
                <img src="{{ request.user.socialaccount_set.all.0.get_avatar_url }}" style="width:69px;" class="w3-circle w3-right w3-margin">
              {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width:69px;" class="w3-circle w3-right w3-margin"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 128c39.77 0 72 32.24 72 72S295.8 272 256 272c-39.76 0-72-32.24-72-72S216.2 128 256 128zM256 448c-52.93 0-100.9-21.53-135.7-56.29C136.5 349.9 176.5 320 224 320h64c47.54 0 87.54 29.88 103.7 71.71C356.9 426.5 308.9 448 256 448z"/>
                </svg>
              {% endif %}
            </div>
            <div class="ct-menu">
              {% if request.user.is_authenticated %}
                <h3>{{ request.user.username }}<br><span>{{ request.user.email }}</span></h3>
              {% else %}
                <h3>Anonymouse<br><span>Please Login</span></h3>
              {% endif %}
              <ul>
                <li>
                  {% if not request.user.is_authenticated %}
                    <form action="{% provider_login_url 'google' %}" method="POST">
                      {% csrf_token %}
                      <button title="Login via google" type="submit" class="w3-button w3-right w3-hover-opacity">
                        <i class="fab fa-google fa-fw" style="margin-right:6.9px!important"></i>Signin with google
                      </button>
                    </form>
                  {% else %}
                    <a href="{% url 'account_logout' %}" class="w3-button w3-right w3-hover-opacity">
                      <i class="fa-solid fa-arrow-right-from-bracket" style="margin-right:6.9px!important"></i>Logout
                    </a>
                  {% endif %}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- wut end -->
        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
        <div class="w3-container">
          <div class="w3-section w3-bottombar w3-padding-16">
            {% if title %}
              <h1><b>{{ title }}</b></h1>
            {% else %}
              <h1><b>My Portfolio</b></h1>
            {% endif %}
          </div>
        </div>
      </header>

      {% block content %}{% endblock content %}

      <!-- Footer -->
      {% include 'main/footer.html' %}

      <!-- End page content -->
    </div>
    <script src="{% static 'main/main.js' %}"></script>
  </body>
</html>
